<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar un nuevo producto</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Producto" name="producto">
                </div>
                <div class="mb-3 row">
                    <textarea type="textarea" class="form-control" placeholder="Descripción" name="descripcion"></textarea>
                </div>
                <div class="mb-3 row"> 
                    <label for="">Imagen: <input type="file" class="form-control" name="imagen" id="imagen"> </label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
                <h5>{{message}}</h5>
            {{/if}}
        </div>

    </div>
</div>