header {
    background-color: rgb(208, 239, 248);
    padding: 16px 0;

}

header h1 {
    color: rgb(23, 111, 194);
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}