nav {
    background-color: rgb(13, 100, 199);
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
    /* padding: 5px 0; */
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    font-size: 20px;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(2, 2, 73, 0.205);

}

nav ul li a.activo {
    background-color: rgba(2, 2, 73, 0.205);
}